{% extends "layout.html" %}

{% block title %}
    Sign in
{% endblock %}

{% block content %}
<div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <form class="form-signin">
                        <img class="mb-4" src="" alt="" width="72" height="72">
                        <h1 class="h3 mb-3 font-weight-normal">Enter Registration Details</h1>
                        <label for="inputEmail" class="sr-only" name = "email">Email address</label>
                        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                        <label for="inputPassword" class="sr-only" name = "username">Name</label>
                        <input type="password" id="inputPassword" class="form-control" placeholder="Name" required>
                        <label for="inputPassword" class="sr-only" name = "password">Password</label>
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                    </form>
                </div>
        <div class="col-md-4 col-sm-4 col-xs-12"></div>  
    </div>  
{% endblock %}